parameters:
    level: 6
   # Path to files to analyze for errors
    paths:
        - app/
    # Exclude folders that it won't parse
    excludePaths:
        - storage/
        - vendor/
        # Here there is no node_modules folder, so I added (?) so it can be optional and not cause problems
        - node_modules(?)
    # Here it specifies the file extensions to be checked (the default is php only)
    fileExtensions:
        - php
    # Learning-friendly settings
    reportUnmatchedIgnoredErrors: false
    # Common errors to ignore initially (we'll remove them one by one as we fix the code)
    ignoreErrors:
        - '#Access to an undefined property#'
        - '#Call to an undefined method#'
        - '#Parameter .* has invalid typehint#'
        - '#Method .* has no return typehint#'